body{
    background: hsl(210, 46%, 95%);
}
/*.parent{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}*/
.parent{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.article{
    display: flex;
    /*
    justify-content: center;
    align-items: center;
    */
    width: 65%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    transform: translate(0%,50%);
}
#image{
    width: 45%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}
.content{
    display: block;
    font-size: 1.5em;
    justify-content: space-around;
    /*font-family: 'Manrope', sans-serif;*/
    font-family: Manrope;
}
.content h4,h6{
    margin: 20px 40px 0 35px;
}
.content .footer{
    margin: 40px 0 0 35px;
}
.content #profile_pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.footer{
    display: flex;
    overflow: auto;
}
.footer span{
    margin-left: 20px;
    font-size: 1em;
}
.share_button{
    margin-left: 100px;
}
.share_button .fa-share,.fa-facebook-square,.fa-twitter,.fa-pinterest{
    color: white;
    background-color: hsl(214, 17%, 51%);
    font-size: 1em;
    padding: 10px;
}
.fa-facebook-square,.fa-twitter,.fa-pinterest{
    padding-top: 5px 0 5px 0;
    font-size: 1em;
}
#share_word{
    font-family: Manrope;
    font-size: 0.9rem;
    margin: 17px 5px 15px 35px;
    /*
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lobster', cursive;
    */
    font-family: 'Courier Prime', monospace;
    font-weight: 100;
    color: hsl(210, 46%, 95%);
}
#share_word:hover{
    cursor: default;
}
.fa-share{
    border-radius: 50%;
    position: sticky;
}
.fa-share:hover,.fa-facebook-square:hover,.fa-twitter:hover,.fa-pinterest:hover{
    cursor: pointer;
}
.share_options{
    position: absolute;
    transform: translate(-60px,-70px);
    width: auto;
    background-color: hsl(214, 17%, 51%);
    border-radius: 10px;
}
